* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1040px;
    margin: 0 auto;
}

body {
    background-image: url(img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.header {
    padding: 25px 0;
    margin-bottom: 200px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.list-link {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.main-wrapper {
    max-width: 550px;
}

h1 {
    font-size: 48px;
    margin-bottom: 40px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.main-button {
    border: none;
    background-color: #F6762C;
    padding: 20px 50px;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    margin-bottom: 50px;
}